html {
    height: 300px;
    width: 500px;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    /* color: #F9F2DF; */
    color: #333;
    background-color: #F9F2DF;
    /* background-color: #F2BB3E; */
    padding: 20px;
}

#content {
    display: none;
}

h1.container,
.dropdown {
    margin-inline-end: 20px;
}

h1.container {
    background-color: #F9F2DF;
    border-radius: 7px;
    padding: 8px;
    height: 45px;
    font-size: 1.5rem;
    font-weight: bolder;
    white-space: nowrap;
}

.id_border {
    background-color: #F2BB3E;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 5px;
    height: 250px;
    outline: 10px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.face {
    width: 100%;
    margin-bottom: 10px;
}

.logo_text {
    width: 70%;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.row {
    margin-bottom: 5px;
}

button,
button:active,
button:focus {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    color: #F9F2DF;
}

button:hover {
    color: #F05123;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #F9F2DF;
    height: 40px;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    width: 100%;
}

/* Container style */
.dropdown {
    display: inline-block;
    margin-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F2DF;
    box-shadow: 0px 8px 16px 0px #333;
    z-index: 1;
    border-radius: 7px;
    overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content option {
    color: black;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown options on hover */
.dropdown-content option:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #F9F2DF;
}

.loader {
    border: 12px solid #333;
    border-top: 12px solid #F05123;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.highlighted {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}