html {
    height: 500px;
    width: 300px;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    color: #333;
    background-color: #C0D5E0ff;
    padding: 10px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 5 0;
}

.field {
    font-size: 1.5rem;
    color: #555;
    /* Dark gray text */
    margin: 0 0 0 0;
}

.fa-solid {
    border: transparent;
    background-color: transparent;
    font-size: 1.2rem;
    color: #438BC9ff;
    cursor: pointer;
}

.fa-solid:hover {
    color: #0056b3;
}